@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Seven Segment";
    src: url(/fonts/SevenSegment.ttf);
}

html {
    font-family: "Inter", serif;
}

.SevenSegment {
    font-family: "Seven Segment", serif;
}